/* src/Layout/Main/MainLayout.css */
/* Страница с правилами */
section.rules-section {
	padding: 2px var(--mobile-gap) 10px;
	margin: 20px 0;
	border: 1px solid #ebe5dd;
}

@media screen and (min-width: 920px) {
	section.rules-section { padding: 2px var(--desktop-gap) 10px; }
}

/* src/Layout/Main/Component/CatalogFilters/CatalogFilters.css */

/* src/Layout/Main/Component/CatalogSearchForm/CatalogSearchForm.css */

