form.catalog-search-form {
    display: flex; margin: var(--desktop-gap) 0; height: 40px; align-items: stretch;
}
form.catalog-search-form input {
    flex-grow: 1; border: 1px solid #aaa; border-right: 0; box-sizing: border-box;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1); padding-left: 38px;
    background: var(--icon-search-url) no-repeat 13px center / 15px 15px;
}
form.catalog-search-form button {
    flex-grow: 0; background: var(--brand-blue); color: #fff;
    box-shadow: inset 0 -2px 0 rgba(0,0,0,.1); border: none; padding: 0 19px;
	text-transform: uppercase; font-size: 13px; font-weight: bold; border-radius: 0 4px 4px 0;
}
