button.subscribe-button {
	display: flex; width: 40px; height: 40px; border: 0; padding: 0; margin: 0; align-items: center; color: #fff; cursor: pointer;
	background: var(--brand-blue) var(--icon-plus-url) no-repeat center/16px 16px;
}
button.subscribe-button span.caption { display: none; font-family: 'yanone_kaffeesatzregular', sans-serif; text-transform: uppercase; font-size: 18px; }
button.subscribe-button[data-is-subscribed="true"],
button.subscribe-button.just-subscribed[data-is-subscribed="true"]:hover {
	background-color: var(--brand-orange);
	background-image: var(--icon-checkmark-url);
}
button.subscribe-button[data-is-subscribed="true"]:hover {
	background-color: var(--brand-red);
	background-image: var(--icon-cross-url);
}

/* Делаем кнопку подписки полноразмерной */
@media screen and (min-width: 560px) {
	button.subscribe-button { width: 142px; background-position: right 18px center; content: "Подписаться"; }
	button.subscribe-button span.caption { margin-left: var(--desktop-gap); }
	button.subscribe-button span.caption-subscribe { display: block; }

	button.subscribe-button[data-is-subscribed="true"] span.caption-subscribe { display: none; }
	button.subscribe-button[data-is-subscribed="true"] span.caption-subscribed { display: block; }

	button.subscribe-button[data-is-subscribed="true"]:hover span.caption-subscribe { display: none; }
	button.subscribe-button[data-is-subscribed="true"]:hover span.caption-subscribed { display: none; }
	button.subscribe-button[data-is-subscribed="true"]:hover span.caption-unsubscribe { display: block; }

	button.subscribe-button.just-subscribed[data-is-subscribed="true"]:hover span.caption-subscribe { display: none; }
	button.subscribe-button.just-subscribed[data-is-subscribed="true"]:hover span.caption-subscribed { display: block; }
	button.subscribe-button.just-subscribed[data-is-subscribed="true"]:hover span.caption-unsubscribe { display: none; }
}
