a.issue-preview, a.issue-preview:visited { display: block; position: relative; color: #fff; }
a.issue-preview img { display: block; object-fit:cover; }
a.issue-preview p.issue-preview-hover {
	position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: 0; padding: var(--mobile-gap) 0 0 var(--mobile-gap);
	background-color: rgba(0,0,0,.7); flex-direction: column; overflow: hidden; display: none;
}
a.issue-preview:hover p.issue-preview-hover { display: flex; }
a.issue-preview span.issue-preview-number { display: block; font-size: 22px; font-family: 'yanone_kaffeesatzregular', sans-serif; color: var(--brand-orange); }
a.issue-preview span.issue-preview-date { display: block; white-space: nowrap; opacity: 0.8; }
a.issue-preview span.issue-preview-date span.date-time-formatted { display: inline-block; overflow-x: hidden; text-overflow: ellipsis; width: 100%; }
a.issue-preview span.issue-preview-name { display: block; word-break: break-word; }

@media screen and (min-width: 920px) {
	a.issue-preview p.issue-preview-hover { padding: var(--desktop-gap) 0 0 var(--desktop-gap); }
}
