/* Страница о проекте */
p.mascotrefs img {
    display: block; width: 100%;
}

/* Страница с правилами */
section.rules-section {
	padding: 2px var(--mobile-gap) 10px;
	margin: 20px 0;
	border: 1px solid #ebe5dd;
}

@media screen and (min-width: 920px) {
	section.rules-section { padding: 2px var(--desktop-gap) 10px; }
}
