h1.reader-issue-title {
	padding: 8px var(--mobile-gap); margin: 0; font-size: inherit; font-weight: normal;
	display: flex; justify-content: center; align-items: center; min-height: 40px; box-sizing: border-box;
}
h1.reader-issue-title span.number-with-name,
h1.reader-issue-title span.number-without-name { word-break: break-word; display: inline-block; }
h1.reader-issue-title a { text-decoration: none; display: flex; align-items: center; padding: 0 var(--mobile-gap); }
h1.reader-issue-title span.number-with-name span.number { color: #a3a3a3; display: inline-block; padding-left: 5px; white-space: nowrap; }

@media screen and (min-width: 640px) {
	h1.reader-issue-title { font-size: 18px; padding: 18px var(--mobile-gap); }
	h1.reader-issue-title span.number-with-name span.number { padding-left: 10px; }
}
