section.reader-serial-description { border: 1px solid var(--brand-grey); word-break: break-word; }

section.reader-serial-description div.description-common { padding: var(--desktop-gap) var(--mobile-gap); }
section.reader-serial-description div.description-common h2 { margin: 0; font-size: 1em; }
section.reader-serial-description div.description-common p { line-height: 1.4; }
section.reader-serial-description div.description-common p:last-of-type { margin-bottom: 0; }

section.reader-serial-description div.description-icons {
	padding: var(--desktop-gap) var(--mobile-gap); background-color: var(--brand-grey);
	display: flex; justify-content: space-evenly; align-items: center;
}
section.reader-serial-description div.description-icons p { margin: 0; }

section.reader-serial-description a.description-up-button {
	display: block; padding: var(--mobile-gap); text-align: center; color: #757575; text-decoration: none;
}
section.reader-serial-description a.description-up-button:hover { color: #111; }

@media screen and (min-width: 920px) {
	section.reader-serial-description div.description-common { padding: var(--desktop-gap); }
}
