section.serial-reader-menu {
	height: 40px; background: var(--brand-grey); overflow: hidden;
	display: flex; justify-content: space-between;
	position: relative; z-index: 50;
}

section.serial-reader-menu button.subscribe-button { flex-shrink: 0; }

section.serial-reader-menu nav { position: relative; height: fit-content; background: var(--brand-grey); }

section.serial-reader-menu ul { list-style: none; margin: 0; padding: 0 40px 0 0; display: flex; flex-grow: 1; flex-wrap: wrap; }
section.serial-reader-menu ul li { height: 40px; display: flex; align-items: center; padding: 0 calc(var(--mobile-gap) - 5px); }
section.serial-reader-menu ul li a { display: inline-block; padding: 10px 5px; }
section.serial-reader-menu ul li a:visited { color: var(--brand-blue); }
section.serial-reader-menu ul li.read-menu-item-full { display: none; }

/* Раскрытие меню, если не помещается на экране */
section.serial-reader-menu nav button.serial-reader-menu-toggle {
	border: none; margin: 0; padding: 0; cursor: pointer;
	position: absolute; right: 0; width: 40px; top: 0; bottom: 40px;
	background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='16' width='10' viewBox='0 0 320 512'><path fill='%23333333' d='M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z'/></svg>") no-repeat center 10px/20px 20px;
}

/* RSS */
section.serial-reader-menu ul li.css-menu-item a {
	padding-left: 30px;
	background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='16' width='14' viewBox='0 0 448 512'><path fill='%23EFA821' d='M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zM96 136c0-13.3 10.7-24 24-24c137 0 248 111 248 248c0 13.3-10.7 24-24 24s-24-10.7-24-24c0-110.5-89.5-200-200-200c-13.3 0-24-10.7-24-24zm0 96c0-13.3 10.7-24 24-24c83.9 0 152 68.1 152 152c0 13.3-10.7 24-24 24s-24-10.7-24-24c0-57.4-46.6-104-104-104c-13.3 0-24-10.7-24-24zm0 120a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z'/></svg>") no-repeat left 5px center/20px 20px;
}

/* Активный элемент меню */
section.serial-reader-menu ul li.active { background: #fff; }
section.serial-reader-menu ul li.active a,
section.serial-reader-menu ul li.active a:visited,
section.serial-reader-menu ul li a.active { color: #111; text-decoration: none; }


/* Разворачивание меню на мобильных устройствах */
section.serial-reader-menu.expanded { overflow: visible; }
section.serial-reader-menu.expanded nav button.serial-reader-menu-toggle {
	max-height: 40px; transform: rotate(180deg);
}

/* Делаем пункт чтения комикса полноразмерным */
@media screen and (min-width: 560px) {
	section.serial-reader-menu ul li.read-menu-item-short { display: none; }
	section.serial-reader-menu ul li.read-menu-item-full { display: flex; }
}

/* Делаем нормальные отступы */
@media screen and (min-width: 920px) {
	section.serial-reader-menu ul { padding: 0 40px 0 calc(var(--desktop-gap) - 10px); }
}
