a.infinite-scroll {
	display: flex; justify-content: center; align-items: center;
	background: var(--brand-grey); height: 150px; margin-top: var(--desktop-gap);
}
a.infinite-scroll.in-progress {
    background: url('/static/img/tail-spin.svg') no-repeat; background-size: cover; color: var(--brand-grey);
}
