/* Дополнительный отступ от шапки */
aside.serial-aside-first { padding: var(--desktop-gap) var(--mobile-gap) 0; }

/* Страница чтения комикса */
aside.view-aside-first { margin-bottom: var(--desktop-gap); }
main.view-container div.view-article { padding: 0 var(--mobile-gap); container-type: inline-size; box-sizing: border-box; }
main.view-container aside.view-aside-second { margin: var(--desktop-gap) var(--mobile-gap); box-sizing: border-box; }
main.view-container aside.view-aside-second div.inner { top: var(--desktop-gap); }
main.view-container aside.view-aside-second div.inner>div:first-child { display: none; }

@media screen and (min-height: 300px) {
	main.view-container aside.view-aside-second div.inner { top: calc(54px + var(--desktop-gap)); }
}

@media screen and (min-width: 700px) {
	aside.view-aside-first { display: none; }
	main.view-container { display: flex; }
	main.view-container div.view-article {
		flex-grow: 1; flex-shrink: 1; padding: 0 var(--mobile-gap) var(--desktop-gap);
	}
	main.view-container aside.view-aside-second {
		margin: 0 var(--mobile-gap) var(--desktop-gap) 0;
		flex: 0 0 300px;
	}
	main.view-container aside.view-aside-second div.inner { position: sticky; }
	main.view-container aside.view-aside-second div.inner>div:first-child { display: block; margin-bottom: var(--desktop-gap); }
}

@media screen and (min-width: 920px) {
	main.view-container div.view-article { padding: 0 var(--desktop-gap) var(--desktop-gap); }
	main.view-container aside.view-aside-second { margin: 0 var(--desktop-gap) var(--desktop-gap) 0; }
}

/* Страница "О комиксе" */
section.serial-about-text { word-break: break-word; }
section.serial-about-text img { max-width: 100%; }
p.serial-about-authors { word-break: break-word; }
p.serial-about-site-url { word-break: break-word; }
section.serial-about-issues { display: grid; gap: var(--mobile-gap); grid-template-columns: 1fr 1fr; overflow-y: hidden; }
section.serial-about-issues a.issue-preview img { width:100%; }
@media screen and (min-width: 520px) {
	section.serial-about-issues { grid-template-columns: 1fr 1fr 1fr; }
	section.serial-about-issues a.issue-preview:nth-child(-n+2) { display: none; }
}
@media screen and (min-width: 840px) {
	section.serial-about-issues { grid-template-columns: 1fr 1fr 1fr 1fr; }
	section.serial-about-issues a.issue-preview:nth-child(-n+2) { display: block; }
}
@media screen and (min-width: 920px) {
	section.serial-about-issues { gap: var(--desktop-gap); }
}
nav.serial-about-read-menu {
	margin-top: var(--desktop-gap); border: 1px solid var(--brand-grey); padding: 12px;
	display: flex; flex-direction: column; align-items: center; justify-content: center; }
nav.serial-about-read-menu a { display: block; padding: 8px 10px; line-height: 1; white-space: nowrap; }
@media screen and (min-width: 520px) {
	nav.serial-about-read-menu { flex-direction: row; }
}
