/* Дополнительный отступ от шапки */
aside.serial-aside-first { padding: var(--desktop-gap) var(--mobile-gap) 0; }

/* Страница "О комиксе" */
section.serial-about-text { word-break: break-word; }
section.serial-about-text img { max-width: 100%; }
p.serial-about-authors { word-break: break-word; }
p.serial-about-site-url { word-break: break-word; }
