/* Дополнительный отступ от шапки */
aside.serial-aside-first { padding: var(--desktop-gap) var(--mobile-gap) 0; }

/* Скрытие шапки при скролле */
header.common-header,
div.common-header-background { transition: transform 0.4s; }
body.scroll-down header.common-header,
body.scroll-down div.common-header-background { transform: translate3d(0, -100%, 0); }
body.scroll-up header.common-header,
body.scroll-up div.common-header-background { transform: none; }


/* Страница чтения комикса */
aside.view-aside-first { margin-bottom: var(--desktop-gap); }
main.view-container div.view-article { padding: 0 var(--mobile-gap); container-type: inline-size; box-sizing: border-box; }
main.view-container aside.view-aside-second { margin: var(--desktop-gap) var(--mobile-gap); box-sizing: border-box; }
main.view-container aside.view-aside-second div.inner { top: var(--desktop-gap); }
main.view-container aside.view-aside-second div.inner>div:first-child { display: none; }

div.view-comments-disallowed { text-align: center; color: #a3a3a3; }

@media screen and (min-height: 300px) {
	main.view-container aside.view-aside-second div.inner { top: calc(54px + var(--desktop-gap)); }
	body.scroll-down main.view-container aside.view-aside-second div.inner { top: var(--desktop-gap); }
}

@media screen and (min-width: 700px) {
	aside.view-aside-first { display: none; }
	main.view-container { display: flex; }
	main.view-container div.view-article {
		flex-grow: 1; flex-shrink: 1; padding: 0 var(--mobile-gap) var(--desktop-gap);
	}
	main.view-container aside.view-aside-second {
		margin: 0 var(--mobile-gap) var(--desktop-gap) 0;
		flex: 0 0 300px;
	}
	main.view-container aside.view-aside-second div.inner { position: sticky; }
	main.view-container aside.view-aside-second div.inner>div:first-child { display: block; margin-bottom: var(--desktop-gap); }
}

@media screen and (min-width: 920px) {
	main.view-container div.view-article { padding: 0 var(--desktop-gap) var(--desktop-gap); }
	main.view-container aside.view-aside-second { margin: 0 var(--desktop-gap) var(--desktop-gap) 0; }
}


/* Страница чтения комикса лентой */
aside.list-aside { margin: var(--desktop-gap) var(--mobile-gap) 0; }
main.list-container { container-type: inline-size; box-sizing: border-box; margin-bottom: var(--desktop-gap); }
main.list-container article.reader-issue-description { margin: 0; }
main.list-container nav.reader-navigator { padding-bottom: 0; }
main.list-container p.list-comments-link { display: flex; margin: 5px var(--mobile-gap); align-items:center; justify-content: flex-end; }
main.list-container p.list-comments-link a {
	display: block; padding: 5px 0 5px 22px;
	background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='none' x='0px' y='0px' width='16px' height='16px' viewBox='0 0 16 16'><defs><g id='Layer1_0_FILL'><path fill='%234A6CBC' stroke='none' d='M 10.55 12L 13 12Q 16 12 16 9L 16 3Q 16 0 13 0L 3 0Q 0 0 0 3L 0 9Q 0 12 3 12L 5.5 12 8.05 16 10.55 12M 10.75 5.75Q 11.05 5.5 11.5 5.5 11.9 5.5 12.2 5.75 12.5 6.05 12.5 6.5 12.5 6.9 12.2 7.2 11.9 7.5 11.5 7.5 11.05 7.5 10.75 7.2 10.5 6.9 10.5 6.5 10.5 6.05 10.75 5.75M 3.75 5.75Q 4.05 5.5 4.5 5.5 4.9 5.5 5.2 5.75 5.5 6.05 5.5 6.5 5.5 6.9 5.2 7.2 4.9 7.5 4.5 7.5 4.05 7.5 3.75 7.2 3.5 6.9 3.5 6.5 3.5 6.05 3.75 5.75M 8 5.5Q 8.4 5.5 8.7 5.75 9 6.05 9 6.5 9 6.9 8.7 7.2 8.4 7.5 8 7.5 7.55 7.5 7.25 7.2 7 6.9 7 6.5 7 6.05 7.25 5.75 7.55 5.5 8 5.5 Z'/></g></defs><g transform='matrix( 1, 0, 0, 1, 0,0) '><use xlink:href='%23Layer1_0_FILL'/></g></svg>") no-repeat left 70%;
}

@media screen and (min-width: 640px) {
	main.list-container article.reader-issue-description { margin: var(--mobile-gap) var(--mobile-gap) 0; }
}
@media screen and (min-width: 920px) {
	aside.list-aside { margin: var(--desktop-gap) var(--desktop-gap) 0; }
	main.list-container article.reader-issue-description { margin: var(--desktop-gap) var(--desktop-gap) 0; }
	main.list-container p.list-comments-link { margin: 5px var(--desktop-gap); }
}


/* Страница "О комиксе" */
section.serial-about-text { word-break: break-word; }
section.serial-about-text img { max-width: 100%; }
p.serial-about-authors { word-break: break-word; }
p.serial-about-site-url { word-break: break-word; }
section.serial-about-issues { display: grid; gap: var(--mobile-gap); grid-template-columns: 1fr 1fr; overflow-y: hidden; }

@media screen and (min-width: 520px) {
	section.serial-about-issues { grid-template-columns: 1fr 1fr 1fr; }
}
@media screen and (min-width: 840px) {
	section.serial-about-issues { grid-template-columns: 1fr 1fr 1fr 1fr; }
}
@media screen and (min-width: 920px) {
	section.serial-about-issues { gap: var(--desktop-gap); }
}
nav.serial-about-read-menu {
	margin-top: var(--desktop-gap); border: 1px solid var(--brand-grey); padding: 12px;
	display: flex; flex-direction: column; align-items: center; justify-content: center; }
nav.serial-about-read-menu a { display: block; padding: 8px 10px; line-height: 1; white-space: nowrap; }
@media screen and (min-width: 520px) {
	nav.serial-about-read-menu { flex-direction: row; }
}


/* Страница содержания */
section.serial-content-issues {
    display: grid; gap: var(--mobile-gap); grid-template-columns: 1fr 1fr; overflow-y: hidden;
    margin: var(--desktop-gap) 0;
}

@media screen and (min-width: 520px) {
	section.serial-content-issues { grid-template-columns: 1fr 1fr 1fr; }
}
@media screen and (min-width: 840px) {
	section.serial-content-issues { grid-template-columns: 1fr 1fr 1fr 1fr; }
}
@media screen and (min-width: 920px) {
	section.serial-content-issues { gap: var(--desktop-gap); }
}


/* Страница со списком комментариев комикса */
section.serial-comments-list{ container-type: inline-size; box-sizing: border-box; margin-top: var(--desktop-gap); }


/* Страница с возрастным ограничением */
section.serial-age-restriction { max-width: 600px; margin: 0 auto var(--desktop-gap); line-height: 1.4; }
section.serial-age-restriction img.illustration { display: block; width: 100%; height: auto; }
section.serial-age-restriction p { text-align: center; margin: 0 var(--desktop-gap) var(--desktop-gap); }
section.serial-age-restriction form { display: flex; flex-wrap: wrap; justify-content: center; gap: var(--mobile-gap); padding-bottom: var(--desktop-gap); }
section.serial-age-restriction form button {
    padding: 11px 19px; background: var(--brand-blue); color: #fff;
    box-shadow: inset 0 -2px 0 rgba(0,0,0,.1); border: none;
	text-transform: uppercase; font-size: 13px; font-weight: bold; border-radius: 4px;
}


/* Страница с баннерами комикса */
section.serial-banners-list img { width: 100%; height: auto; }


/* Страница со списком подписчиков */
form.serial-subscriptions-form { margin: 1em 0; }
form.serial-subscriptions-form button {
    padding: 11px 19px; background: var(--brand-blue); color: #fff;
    box-shadow: inset 0 -2px 0 rgba(0,0,0,.1); border: none;
	text-transform: uppercase; font-size: 13px; font-weight: bold; border-radius: 4px;
}

/* Предложка */
p.serial-suggest-intro { word-break: break-word; }

form.serial-suggestion-delete-form { position: relative; color: #fff; }
form.serial-suggestion-delete-form img { display: block; width: 100%; height: auto; max-width: 100% !important; }
form.serial-suggestion-delete-form p.hover {
	position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: 0; padding: var(--mobile-gap) 0 0 var(--mobile-gap);
	background-color: rgba(0,0,0,.7); flex-direction: column; align-items: flex-start; overflow: hidden; display: none;
}
form.serial-suggestion-delete-form:hover p.hover  { display: flex; }
form.serial-suggestion-delete-form span.name {
    display: block; font-size: 22px; font-family: 'yanone_kaffeesatzregular', sans-serif; color: var(--brand-orange);
    overflow-x: hidden; text-overflow: ellipsis; width: 100%; white-space: nowrap;
}
form.serial-suggestion-delete-form span.date { display: block; white-space: nowrap; opacity: 0.8; }
form.serial-suggestion-delete-form span.date span.date-time-formatted { display: inline-block; overflow-x: hidden; text-overflow: ellipsis; width: 100%; }
form.serial-suggestion-delete-form button {
    border: 0; background: 0; color: white; text-decoration: underline;
    cursor: pointer; display: block; text-align: left; padding: 0;
}
@media screen and (min-width: 920px) {
	form.serial-suggestion-delete-form p.hover { padding: var(--desktop-gap) 0 0 var(--desktop-gap); }
}

form.serial-suggest-form {
    background: #f3eee7; padding: 20px; border-radius: 20px;
    display: grid; grid-template-columns: min-content 1fr;
    margin-top: 20px;
}
form.serial-suggest-form div.help { grid-column: span 2; color: #777; padding: 5px 0 20px; }
form.serial-suggest-form div.help p { margin: 0; }
form.serial-suggest-form label { display: block; white-space: nowrap; margin: 4px 20px 4px 0; align-self: center; }
form.serial-suggest-form label[for="input-description"] { grid-column: span 2; }
form.serial-suggest-form input[name="name"] { max-width: 300px; min-width: 50px; }
form.serial-suggest-form div.description { grid-column: span 2; }
form.serial-suggest-form div.buttons { grid-column: span 2; }
form.serial-suggest-form button {
    padding: 11px 19px; background: var(--brand-orange); color: #fff;
    box-shadow: inset 0 -2px 0 rgba(0,0,0,.1); border: none;
	text-transform: uppercase; font-size: 13px; font-weight: bold; border-radius: 4px;
}
