/* Мобильная версия */
section.form-mobile p::first-letter { text-transform: uppercase; }
section.form-mobile button.show-filters-button {
    border: none; background: none; font: inherit; white-space: nowrap; display: inline; padding: 0;
    text-decoration: underline dashed; text-underline-offset: 3px;
}

/* Десктопная версия */
section.form-desktop {
    background-color: var(--brand-grey); padding: var(--desktop-gap) var(--mobile-gap);
    display: none;
}

/* Выбор категорий */
section.form-desktop fieldset.categories {
    border: 0; padding: 0; margin: 0; display: flex; gap: var(--mobile-gap); flex-wrap: wrap;
}
section.form-desktop fieldset.categories label {
    display: block; position: relative; padding: 8px 10px; background: var(--brand-orange); color: #fff; box-shadow: inset 0 -2px 0 rgba(0,0,0,.1);
	text-decoration: none; text-transform: uppercase; font-size: 12px; font-weight: bold; border-radius: 4px; user-select: none;
}
section.form-desktop fieldset.categories label input {
    display: none; position: absolute; right: 0px; appearance: none;
    width: 30px; height: auto; top: 0; bottom: 0; margin: auto;
    background: var(--icon-plus-url) no-repeat center/13px 13px;
}

section.form-desktop fieldset.categories label input:checked { background-image: var(--icon-cross-url); }
section.form-desktop fieldset.categories label:has(> input:checked) { background-color: var(--brand-red); }

/* Форма */
section.form-desktop div.label-with-input {
    display: flex; flex-wrap: wrap; align-items: center; line-height: 1.4;
    margin: var(--desktop-gap) 0; gap: var(--mobile-gap);
}
section.form-desktop div.label-with-input > label { width: 190px; }
section.form-desktop div.label-with-input > *:nth-child(2) { flex-grow: 1; flex-basis: 360px; }
section.form-desktop fieldset {
    margin: 0; padding: 0; border: none;
    display: flex; gap: 4px var(--mobile-gap); flex-wrap: wrap;
}
section.form-desktop fieldset label { display: flex; align-items: center; white-space: nowrap; user-select: none; }
section.form-desktop fieldset input[type="radio"],
section.form-desktop fieldset input[type="checkbox"] {
    margin-right: 4px;
}
section.form-desktop input[type="number"],
section.form-desktop select { padding: 0 4px; height: 30px; box-sizing: border-box; margin: -6px 0; }

/* Кнопка больше/меньше настроек */
section.form-desktop button.full-form-toggle {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='none' x='0px' y='0px' width='16px' height='16px' viewBox='0 0 16 16'><defs><g id='Layer0_0_FILL'><path fill='%234568BA' stroke='none' d='M 13.1 6.15L 14.35 4.95Q 14.05 4.4 13.7 3.9L 12 4.4Q 11.9 4.3 11.8 4.2 11.65 4.05 11.5 3.9L 12 2.25Q 11.5 1.9 10.95 1.65L 9.75 2.9Q 9.4 2.8 9.05 2.7L 8.65 1.05Q 8.3 1 8 1 7.7 1 7.4 1.05L 7 2.7Q 6.65 2.75 6.3 2.9L 5.1 1.6Q 4.55 1.85 4.05 2.2L 4.55 3.9Q 4.35 4 4.2 4.2 4.1 4.3 4 4.4L 2.3 3.9Q 1.95 4.4 1.7 4.95L 2.95 6.1Q 2.8 6.5 2.7 6.9L 1.05 7.3Q 1 7.65 1 8 1 8.25 1 8.5L 2.7 8.85Q 2.75 9.3 2.9 9.75L 1.6 10.95Q 1.85 11.45 2.2 11.9L 3.8 11.4Q 4 11.65 4.2 11.8 4.35 11.95 4.5 12.1L 4 13.75Q 4.45 14.1 4.95 14.35L 6.15 13.1Q 6.6 13.25 7.1 13.35L 7.45 15Q 7.75 15 8 15 8.3 15 8.6 15L 8.95 13.3Q 9.45 13.25 9.9 13.05L 11.1 14.3Q 11.6 14.05 12.05 13.75L 11.55 12.05Q 11.7 11.95 11.8 11.8 12 11.6 12.2 11.4L 13.85 11.9Q 14.15 11.45 14.4 10.9L 13.15 9.75Q 13.3 9.3 13.35 8.85L 15 8.5Q 15 8.25 15 8 15 7.65 14.95 7.3L 13.3 6.9Q 13.2 6.5 13.1 6.15M 11.25 8Q 11.25 9.35 10.3 10.3 9.35 11.25 8 11.25 6.65 11.25 5.7 10.3 4.75 9.35 4.75 8 4.75 6.65 5.7 5.7 6.65 4.75 8 4.75 9.35 4.75 10.3 5.7 11.25 6.65 11.25 8 Z'/></g></defs><g transform='matrix( 1, 0, 0, 1, 0,0) '><use xlink:href='%23Layer0_0_FILL'/></g></svg>") no-repeat left / 16px 16px;
    border: none;  display: inline-block; padding: 0 0 0 20px;
    text-decoration: underline; color: var(--brand-blue); cursor: pointer;
}
section.form-desktop button.full-form-toggle span.less { display: none; }
section.form-desktop.full button.full-form-toggle span.less { display: inline; }
section.form-desktop.full button.full-form-toggle span.more { display: none; }

/* Полная форма */
section.form-desktop div.form-full-part { display: none; }
section.form-desktop.full div.form-full-part { display: block; }

/* Кнопка отправки формы */
section.form-desktop button.form-submit-button {
    display: block; padding: 11px 19px; background: var(--brand-blue); color: #fff; box-shadow: inset 0 -2px 0 rgba(0,0,0,.1);
    border: 0; margin: var(--desktop-gap) 0 0;
	text-decoration: none; text-transform: uppercase; font-size: 13px; font-weight: bold; border-radius: 4px; user-select: none;
}

/* Показываем иконки категорий */
@media screen and (min-width: 520px) {
	section.form-desktop fieldset.categories label {
        background-repeat: no-repeat;
        background-position: 6px center;
        background-size: 18px 18px;
        padding: 8px 28px;
    }
    section.form-desktop fieldset.categories label.category-animal { background-image: var(--icon-category-animal-url); }
    section.form-desktop fieldset.categories label.category-drama { background-image: var(--icon-category-drama-url); }
    section.form-desktop fieldset.categories label.category-fantasy { background-image: var(--icon-category-fantasy-url); }
    section.form-desktop fieldset.categories label.category-gaming { background-image: var(--icon-category-gaming-url); }
    section.form-desktop fieldset.categories label.category-humor { background-image: var(--icon-category-humor-url); }
    section.form-desktop fieldset.categories label.category-journal { background-image: var(--icon-category-journal-url); }
    section.form-desktop fieldset.categories label.category-paranormal { background-image: var(--icon-category-paranormal-url); }
    section.form-desktop fieldset.categories label.category-postapocalypse { background-image: var(--icon-category-postapocalypse-url); }
    section.form-desktop fieldset.categories label.category-romance { background-image: var(--icon-category-romance-url); }
    section.form-desktop fieldset.categories label.category-superheroes { background-image: var(--icon-category-superheroes-url); }
    section.form-desktop fieldset.categories label.category-scifi { background-image: var(--icon-category-scifi-url); }
    section.form-desktop fieldset.categories label.category-life { background-image: var(--icon-category-life-url); }
    section.form-desktop fieldset.categories label.category-steampunk { background-image: var(--icon-category-steampunk-url); }
    section.form-desktop fieldset.categories label.category-detective { background-image: var(--icon-category-detective-url); }
    section.form-desktop fieldset.categories label.category-history { background-image: var(--icon-category-history-url); }
    section.form-desktop fieldset.categories label input { display: block; }
}

/* Скрываем мобильное меню, показываем десктопное */
@media screen and (min-width: 700px) {
	section.form-mobile { display: none; }
	section.form-desktop { display: block; }
}

/* Делаем десктопные отступы */
@media screen and (min-width: 920px) {
    section.form-desktop { padding: var(--desktop-gap); }
    section.form-desktop fieldset.categories label { padding: 9px 38px 9px 34px; background-position: 8px center; }
    section.form-desktop fieldset.categories label input { border-left: 1px solid #fff; }
    section.form-desktop div.form-short-part span.age-ratings { gap: var(--desktop-gap); }
    section.form-desktop fieldset { gap: 4px var(--desktop-gap); }
}

